.dropdown {
  height: 2.5em;
  width: 8em;
  border-radius: 0.7em;
  background-color: aqua;
  font-size: 1.05em;
}

.option {
  height: 4em;
  width: 10em;
  border-radius: 1em;
  color: aliceblue;
  background-color: rgb(4, 10, 44);
}
