body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0px;
}

.nav {
  background-color: rgb(4, 10, 44);
}

.navbar {
  color: rgb(226, 238, 237);
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.btn {
  height: 3em;
  width: 8em;
  background-color: aqua;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(124, 236, 236);
}

.btn span {
  font-size: 1.5em;
}

.dorpdown {
  background-color: aqua;
}

.info {
  margin-left: 6em;
  margin-top: 1.5em;
}

.info-item {
  display: inline-block;
  margin-left: 2em;
}

.info-node {
  width: 1.3em;
  height: 1.3em;
  outline: 1px solid rgb(175, 216, 248);
  margin-left: 1em;
  display: inline-block;
}

.title {
  margin-left: 0.5em;
  font-size: 1.3em;
  display: inline-block;
}

.visited1 {
  background-color: skyblue;
}

.visited2 {
  background-color: blueviolet;
}

.path {
  background-color: yellow;
}

.wall {
  background-color: rgb(12, 53, 71);
}

.start {
  background-color: green;
}

.end {
  background-color: orange;
}

.arena {
  position: absolute;
  margin-top: 1em;
  margin-left: 3.5em;
  margin-right: 3.5em;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
}
